.contentAddTareeas {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 2%;
}

.cont_Input {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.inputTarea {
  margin: 1%;
}
.item_input {
  text-align: left;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 30px;
  color: #ebd758;
  text-shadow: -1px 0 #414d68, 0 1px #414d68, 1px 0 #414d68, 0 -1px #414d68,
    -2px 2px 0 #414d68, 2px 2px 0 #414d68, 1px 1px #414d68, 2px 2px #414d68,
    3px 3px #414d68, 4px 4px #414d68, 5px 5px #414d68, 6px 6px #414d68,
    7px 7px #414d68, 8px 8px #414d68, 9px 9px #414d68;
}

.cont_Button {
  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: center;
}
.botonAdd {
  margin: 1%;
}

.closeButton {
  font-size: 10px;
}
