
.contListaTareas{
  margin-bottom: 1%;
}

.cont_tareas {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
  grid-gap: 0;
  border: 1px solid #0d6efd52;
  width: 24rem;
  /* height: 3rem; */
  font-style: oblique;
  font: caption;
  margin-top: 0.8px;
  align-items: center;
 
}

.text_tarea{
  display: flex;
  text-align: start;
  /* padding: 3px; */
  margin-left: 2%;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  padding-top: 15px;
}
.buttonClose{
 
text-align: end;
margin-right: 0.5rem;

}

.cont_tareas:hover {
  background-color: #0d6efd26;
}

.cont_tareas_check{
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
  grid-gap: 0;
  border: 1px solid #010711;
  width: 24rem;
  /* height: 3rem; */
  font-style: oblique;
  font: caption;
  margin-top: 0.8px;
  align-items: center;
  background-color: #09f51563;

}

.itemTarea:hover {
  background-color: aquamarine;
}
